.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.nav li {
  position: relative;
  height: 108px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /*! temp color for UI layout */
  border-bottom: 2px solid red;
}

.nav li:hover {
  /*! temp color for UI layout */
  background: blue;
}

.nav > li:hover {
  /*! temp color for UI layout */
  color: white;
}

.dropdown-arrow {
  transition: transform 0.3s ease;
  transform: rotate(-90deg);
}

.dropdown-arrow.rotated {
  transform: rotate(0);
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  /*! temp color for UI layout */
  background: #fff;
  z-index: 2;
  overflow: hidden;
  height: 0;
  transition: height 0.3s ease;
}

.dropdown-menu.show {
  display: block;
  height: auto;
}

.dropdown-menu > li > p {
  display: block;
  padding: 10px 15px;
  /*! temp color for UI layout */
  color: #333;
  text-decoration: none;
}
