.maze-wrapper {
  background-color: wheat;
  border: 5px solid wheat;
  /* width: 730px;
  height: 730px; */
}

.rows {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.cell {
  height: 100%;
}

.cell-border {
  background-color: white;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}

.border-u {
  border-top-color: black;
}

.border-d {
  border-bottom-color: black;
}

.border-l {
  border-left-color: black;
}

.border-r {
  border-right-color: black;
}

.path {
  background-color: blue;
}
