.sidebar {
  background: linear-gradient(135deg, var(--violet-2) 0%, var(--violet-3) 100%);
  backdrop-filter: blur(12px);
  border-right: 2px solid var(--violet-8);
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: 1;
  font-size: 1.5rem;
  box-shadow: inset -2px 0 4px rgba(0, 0, 0, 0.3), 4px 0 16px rgba(0, 0, 0, 0.2);
}

/* .header > .title {
  color: var(--violet-11);
  font-size: 2rem;
  letter-spacing: 5px;
} */
